<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ziconic.ytduploader</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ytduploader</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Upload Video</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.ziconic.ytduploader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>YTDeveloperKey</key>
	<string>AI39si5bK-sQcltNV0Zdrad0LNiufBQCq6hVR74cwmlIsY1yXnG86ynXKfNomyd5mxS-q-Bb5lc0FdXsHlCQWiuNfV7YSLB9kA</string>
	<key>YTDServerUrl</key>
	<string>http://dui.appspot.com</string>
	<key>YTDAuthSubServlet</key>
	<string>MobileAuthSub</string>
	<key>YTDMobileSubmissionServlet</key>
	<string>PersistMobileSubmission</string>
</dict>
</plist>
